/* * {
  border: .0625rem solid black;
} */

.ability-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 73%;
  margin-left: auto;
  margin-right: auto;
  cursor: default;
}

.header-block-ability {
  margin-top: 13%;
  margin-bottom: 12.0625rem;
  width: 79.375rem;
  position: relative;
}

.ability-title {
  margin-bottom: 5.625rem;
}

.text-ability {
  color: #424d62;
  font-size: 3rem;
  font-weight: 600;
  width: 67.6875rem;
}

.dark .text-ability {
  color: #fae3ff;
}

.image-ability {
  position: absolute;
  width: 15%;
  right: 40px;
  bottom: 0;
  top: 12.061rem;
  animation: swing 1s infinite alternate ease;
}

@keyframes swing {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.link-block-ability {
  width: 100%;
}

.item-ability {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 30px;
  padding-left: 90px;
  margin-bottom: 63px;

  background: rgba(255, 255, 255, 0.568);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.041);
}

.dark .item-ability {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.title-item {
  font-size: 48px;
  margin-bottom: 26px;
}

.text-item {
  font-size: 24px;
  color: #585858;
  width: 80%;
}

.dark .text-item {
  color: #fae3ff;
}

.image-item {
  width: 100%;
}

.item-ability:hover {
  box-shadow: 0 0 0 4px #a3e0ff;
  transition: box-shadow 0.5s;
}

.dark .item-ability:hover {
  box-shadow: 0 0 0 4px #ceff93;
  transition: box-shadow 0.5s;
}

.button-gradient {
  transition: transform 0.3s ease;
}

.button-gradient:hover {
  cursor: pointer;
  transform: scale(1.07); /* примерно +7% к размеру */
}

.button-gradient:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;
}

.text-resum {
  font-size: 24px;
  color: #ffafc1;
  margin-bottom: 7%;
}
