.img-photo {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.about-me-block {
  display: flex;
  justify-content: center;
}

.about-me-description {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
}

h2 {
  font-size: 60px;
  font-weight: 800;
  color: #ff6b8b;
}

.block-about-text {
  flex: 1;
}

.test5 {
  flex: 1;
  height: 60vh;
}

.slurry-about {
  height: 614px;
}

.block-about {
  margin-left: 265px;
  margin-top: auto;
  margin-bottom: auto;
}

.title-about {
  margin-bottom: 67px;
}

.description-goal {
  margin-top: 45px;
}
