.line {
  background-color: darkgray;
  height: 1px;
}

.footer {
  display: flex;
  margin-top: 73px;
  gap: 336px;
}

.footer-mraz {
  position: relative;
}

.blur-image {
  position: absolute;
  left: 6%;
  bottom: 2.6875rem;
  filter: blur(50px);
  transform: scale(1.2);
  z-index: -10000;
}

.dark .blur-image {
  filter: blur(50px);
  opacity: 0.2;
  transform: scale(1.2);
}

address,
.email,
.phone {
  font-style: normal;
  color: #ffafc1;
  font-weight: 300;
  font-size: 20px;
}

.email:hover,
.phone:hover {
  color: #ff6b8b;
}

.copyright,
.design {
  color: rgb(0, 70, 135, 0.29);
  font-weight: 300;
  font-size: 14px;
}

.dark .copyright,
.dark .design {
  color: #fae3ff;
}

.copyright {
  margin-top: 23px;
  margin-bottom: 13px;
}

.social-title {
  color: #ff6b8b;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 13px;
}

.dark .social-title {
  color: #ceff93;
}

.social-icons {
  display: grid;
  grid-template-columns: 42px 42px 42px;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.social-icon:last-child {
  grid-area: 2 / 1 / 3 / 4;
}

.heart-image {
  position: absolute;
  margin-top: -730px;
  margin-left: 230px;
}
