.navigation {
  position: fixed;
  width: 100%;
  height: 100px;
  font-size: 24px;
  overflow: hidden;
  transition: height 0.3s ease, font-size 0.3s ease; /* уменьшил время для более плавной анимации */
  z-index: 100000;
}

.navigation.small {
  height: 70px;
  font-size: 20px;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6667ca;
  transition: text-shadow 0.3s;
  font-weight: 500;
  z-index: 100000;
  height: 100%; /* занять всю высоту навигации */
  width: 73%;
}

.link {
  color: #333333;
  cursor: pointer;
}

.dark .link {
  color: #ffafc1;
}

.link:hover {
  text-shadow: 0 0 1px currentColor;
}

#wave-effect {
  /* Unique ID for the SVG */
  display: block;
  width: 100%;
  height: 190%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0; /* Move it to the top */
  left: 0;
  background: transparent;
  transform: rotate(180deg); /* Flip the wave */
  box-sizing: content-box;
}
#wave-effect .parallax > use {
  animation: move-faster 3s linear infinite;
}
@keyframes move-faster {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
