.progress-bar {
  width: 100%;
  height: 38px;
  background: #eee;
  border-radius: 13px;
  overflow: hidden;
  margin-top: 1rem;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.progress-fill {
  height: 100%;
  background-color: #ceff93;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #454a1f;
  font-weight: bold;
  border-radius: 13px;
  transition: width 0.5s linear;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.slider-main {
  display: flex;
  gap: 80px;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-prev {
  z-index: 10;
}

.slider-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1120px;
  height: 460px;
  background-color: #ffafc1;
  border-radius: 30px;
  position: relative;
}

.dark .slider-block {
  background-color: #9b66ca;
}

.white-back {
  filter: blur(80px);
  opacity: 0.6;
}

.carousel-image {
  position: absolute;
}

.mraz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.4;
}

.right-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.6;
  width: 488px;
  background-color: #a3e0ff;
  border-radius: 36px;
  padding: 30px 25px;
  margin-right: 47px;
  z-index: 10;
}

.dark .right-description {
  background-color: #3a1652;
}

.slider-title {
  font-weight: 900;
  color: #236383;
  font-size: 55px;
}

.slider-text {
  font-weight: 300;
  color: #236383;
  font-size: 20px;
  text-align: center;
  margin-top: 41px;
  margin-bottom: 41px;
}

.dark .slider-text {
  color: #b8e4fa;
}

.dark .slider-title {
  color: #56c7ff;
}

.progress-fill {
  font-size: 20px;
  font-weight: 900;
}

.tech-title {
  margin-bottom: 80px;
}
